* {
    margin: 0;
    padding: 0;
    font-family: 'genos', 'ubuntu', 'arial';
    box-sizing: border-box;
}

.heading {
    text-align: center;
    margin: 50px 0;
}

.container {
    display: grid;
    width: 300px;
    height: 300px;
    margin: auto;
    grid-template-columns: auto auto auto;
}

.box {
    border: 1px solid black;
}
.button-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}
.restart {
    width: 120px;
    height: 30px;
    font-size: 1.1em;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: 1px solid #29a87e;
    border-radius: 3px;
    transition: .20s;
}

.restart:hover, .restart:active {
    cursor: pointer;
}

.restart:active {
    background-color: #29a87e;
    color: #fff;
}