* {
    margin: 0;
    padding: 0;
    font-family: 'genos', 'ubuntu', 'arial';
    box-sizing: border-box;
}
body {
    font-size: 1rem;
}
.heading {
    text-align: center;
    margin: 50px 0;
}

.container {
    display: grid;
    width: 300px;
    height: 300px;
    margin: auto;
    grid-template-columns: auto auto auto;
}

.box {
    border: 1px solid black;
    transition: .20s;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:active {
    background-color: #29a87e;
    color: #fff;
}

.button-container {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.box:hover,
.box:active {
    cursor: pointer;
}

.restart {
    width: 110px;
    height: 30px;
    font-size: 1.1em;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: 1px solid #29a87e;
    border-radius: 5px;
    transition: .20s;
}

.restart:hover,
.restart:active {
    cursor: pointer;
}

.restart:active {
    background-color: #29a87e;
    color: #fff;
}

.scores-container {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.scores {
    width: 90px;
    height: 30px;
    font-size: 1.1em;
    background-color: #fff;
    border: 1px solid #000;
    border-bottom: 1px solid #29a87e;
    border-radius: 5px;
    text-align: center;
}